body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #dfdfdfde;
}

h2 {
    margin-top: 0;
}

.section {
    margin-bottom: 20px;
    display: flex;
    /* flex-direction: column;     */
    justify-content:space-evenly;
    width: 600px;
}

.toggle-button {
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    color: #555;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.2s;
}

.toggle-button.active {
    background-color: #5cb85c;
    color: white;
}

.toggle-label {
    font-size: 14px;
    margin-left: 10px;
    vertical-align: middle;
}

.update-button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.2s;
}

.update-button:hover {
    background-color: #0056b3;
}

.dictionary-container {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    color: #333;
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}

.delimiter-container{
    /*make it fit contents*/
    width: fit-content;
}

.whitelist-section,
.blacklist-section,
.delimiter-section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}